services:
  influxdb:
    image: influxdb:1.8
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=k6
    volumes:
      - influxdb-data:/var/lib/influxdb

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3001:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
    depends_on:
      - influxdb

  k6:
    image: grafana/k6:latest
    volumes:
      - .:/workspace
    working_dir: /workspace
    env_file:
      - .env
    environment:
      - BASE_URL=${BASE_URL}
      - ENDPOINT=${ENDPOINT}
      - DATA_FILE=${DATA_FILE}
      - RATE=${RATE:-550}
      - DURATION=${DURATION:-1m}
      - VUS=${VUS:-50}
      - MAX_VUS=${MAX_VUS:-100}
      - TIMEOUT=${TIMEOUT:-30s}
      - AUTH_TOKEN=${AUTH_TOKEN:-}
    depends_on:
      - influxdb

volumes:
  influxdb-data:
  grafana-data:
