services:
  redis:
    image: redis:7-alpine
    container_name: redis
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis-backup:/backup
    restart: unless-stopped

volumes:
  redis_data:
    name: redis-data
    driver: local
